<div class="row">
  <div class="small-12 medium-8 large-8 large-centered medium-centered columns login-box">
    <div class="row">
    <%= form_for [@salon, @service] do |q| %>
      <div class="small-12 large-12 columns">
        <div class="field login-field">
          <%= q.label :name, "Name" %>
          <%= q.text_field :name %>
        </div>

        <div class="field login-field">
          <%= q.label :description, "Description" %>
          <%= q.text_field :description %>
        </div>

        <div class="field login-field drop-down" id="user-type">
          <%= q.label :service_type, "please enter number of chairs available" %>
          <%= q.select :service_type, @service_types %>
        </div>

        <div class="actions">
          <a href="/" class="button login-page-button"><</a>
          <input class="submit button new-salon-button"
            name="commit"
            type="submit"
            value="add service" />
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
