<div class="row">
  <h1>user info</h1>
</div>
<div class="row">
  <div class="user-info">
      <h3><b><%= @user.username %></b></h3>
      <h3><%= @user.full_name %><br /></h3>
      <h3><%= @user.email %></h3>
  </div>
  <div class="add-white-backer">
    <% if @image.url == nil %>
      <%= link_to 'add user image', edit_user_path(current_user.id) %>
    <% else %>
      <%= link_to 'edit user image', edit_user_path(current_user.id) %>
    <% end %>
  </div>
</div>
