<div class="row">

  <div class="small-12 large-3 columns user-box"
    id="user-profile-info"
    style="background:
    linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)),
    url(<%= @user.image %>);
    background-size: cover;
    background-position: center;" >
    <%= render 'user-info' %>
  </div>

  <div class="small-12 large-8 columns user-box">
    <% if @user.user_type == "owner" %>
      <%= render './users/owner/owner_management' %>
    <% elsif @user.user_type == "stylist" %>
      <%= render './users/stylist/stylist_management' %>
    <% else %>
      <%= render './users/client/client_management' %>
    <% end %>
  </div>

</div>

<% if @user.user_type != "owner" %>
  <div class="row">
    <% if @user.user_type == "client" %>

      <div class="small-12 large-3 columns user-box"
        style="background:
        linear-gradient(
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8)),
        url(<%= @user.salons.first.image %>);
        background-size: cover;
        background-position: center;" >
        <%= render './users/client/client_salon_info' %>
      </div>
      <div class="small-12 large-8 columns user-box">
        <%= render './users/client/client_details' %>
      </div>

    <% elsif @user.user_type == "stylist" %>

      <div class="small-12 large-3 columns user-box">
        <%= render './users/stylist/stylist_salon_info' %>
      </div>

      <div class="small-12 large-8 columns user-box">
        <%= render './users/stylist/stylist_details' %>
      </div>

    <% end %>
  </div>
<% end %>
