<div class="row">

  <div class="small-12 large-3 columns user-box">
    <%= render 'user-info' %>
  </div>

  <div class="small-12 large-8 columns user-box">
    <% if @user.user_type == "owner" %>
      <%= render './users/owner/owner_management' %>
    <% elsif @user.user_type == "stylist" %>
      <%= render './users/stylist/stylist_management' %>
    <% else %>
      <%= render './users/client/client_management' %>
    <% end %>
  </div>

</div>

<% if @user.user_type != "owner" %>
  <div class="row">

    <div class="small-12 large-3 columns user-box">
      <%= render 'user-info' %>
    </div>

    <div class="small-12 large-8 columns user-box">
      <% if @user.user_type == "owner" %>
        <%= render './users/owner/owner_management' %>
      <% elsif @user.user_type == "stylist" %>
        <%= render './users/stylist/stylist_management' %>
      <% else %>
        <%= render './users/client/client_management' %>
      <% end %>
    </div>

  </div>
<% end %>
