<div class="row">
  <h1>upcoming appointments</h1>
</div>
<div class="row">
  <ul class="user-profiles">
  <% @client_appts.each do |appointment| %>
    <li>
        <div
        class="large-3 columns mini-profile"
        style="background:
        linear-gradient(
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.5)),
        <% if appointment.client.image != nil %>
          url(<%= appointment.client.image %>);
        <% else %>
          url(<%= @user.default_image %>);
        <% end %>
        background-size: cover;
        background-position: center;
        padding: 10px;" >
          <i class="<%= appointment.service.icon %> fa-4x appt-icon" aria-hidden="true"></i>
          <br /><br />
          <div class="appt-info-container">
            <b><%= appointment.client.full_name %></b><br />
            <%= appointment.service.name %><br />
            <%= Time.parse(appointment.datetime).strftime('%B %e %Y') %><br />
          </div>
        </div>
        </li>
  <% end %>
</div>
