<div class="row">

  <div class="small-12 large-4 columns salon-services-box">
    <div class="row">
      <h1>services</h1>
    </div>
    <div class="row clients">
      <ul class="user-profiles">
      <% @services.each do |service| %>
      <li>
        <div
        class="large-5 columns  mini-profile" >
          <br />
          <i class="<%= service.icon %> fa-2x" aria-hidden="true"></i><br />
          <%= link_to service.name, salon_service_path(@salon.id, service.id) %><br />
          $<%= service.price %>
          est time: <%= service.time %><br />
        </div>
      </li>
      <% end %>
    </ul>
    </div>
    <%= link_to '+',  new_salon_clientservice_path(@salon.id, @clientservice), class:"button service-button add" %><br/>Request Appointment
  </div>

  <div class="small-12 large-4 columns salon-center-box">
    <div class="row">
      <h1>products</h1>
    </div>
    <div class="row">
      <ul class="user-profiles">
      <% @products.each do |product| %>
      <li>
        <div
        class="large-5 columns mini-profile" >
          <br />
          <i class="<%= product.icon %> fa-2x" aria-hidden="true"></i><br />
          <%= link_to product.name, salon_product_path(@salon.id, product.id) %><br />
          $<%= product.price %><br /><br />
          <%= product.description %>
        </div>
      </li>
      <% end %>
    </ul>
    </div>
  </div>

  <div class="small-12 large-4 columns salon-box">
    <div class="row">
      <h1>stylists</h1>
    </div>
    <div class="row">
      <ul class="user-profiles">
        <% @stylists.each do |stylist| %>
        <li>
          <div class="row">
            <div
            class="large-10 columns left mini-profile"
            style="background:
            linear-gradient(
              rgba(255, 255, 255, 0.5),
              rgba(255, 255, 255, 0.5)),
            <% if stylist.image.url != nil %>
              url(<%= stylist.image %>);
            <% else %>
              url(<%= stylist.default_image %>);
            <% end %>
            background-size: cover;
            background-position: center;" >
              <br />
              <% if stylist.image.url != nil %>
                <%= image_tag stylist.image.url, class:"mini-round-image" %><br />
              <% else %>
                <%= image_tag stylist.default_image, class:"mini-round-image" %><br />
              <% end %>
              <br />
              <%= link_to stylist.full_name, user_profile_path(@user.id, stylist.id), class:"button new-salon-button" %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>



<!-- </div> -->
