<div class="row large-centered salon-big-box">
  <div class="small-12 large-6 columns salon-box">
    <div class="row">
      <h1>services</h1>
    </div>
    <div class="row clients">
      <% @services.each do |service| %>
        <div class="row">
          <a href="/salons/<%= @salon.id %>/services/<%= service.id %>">
            <div class="small-3 columns service-info">
              <i class="<%= service.icon %> fa-2x" aria-hidden="true" id="service-icon-<%= service.id %>"></i>
            </div>
            <div class="small-9 columns service-info">
              <b><%= service.name %></b><br />
              <%= service.description %><br />
            </div>
          </a>
        </div>
        <hr class="user-info-hr">
      <% end %>
      <%= link_to 'add new service', new_salon_service_path(params[:id]), class:"button new-salon-button" %>
    </div>
  </div>

  <div class="small-12 large-6 columns salon-box">
    <div class="row">
      <h1>products</h1>
    </div>
    <div class="row">
      <% @products.each do |product| %>
        <a href="/salons/<%= @salon.id %>/products/<%= product.id %>">
        <div class="small-9 columns service-info">
          <b><%= product.name %></b><br />
          <%= product.description %><br />
          <% if product.in_stock %>
            <i class="<%= product.in_stock_icon %>" aria-hidden="true"></i> in stock!<br />
          <% end %>
        </div>
        </a>
        <hr class="user-info-hr">
      <% end %>
    </div>
    <%= link_to 'add new product', new_salon_product_path(params[:id]), class:"button new-salon-button" %>
  </div>
</div>
<div class="row large-centered salon-big-box">
  <div class="small-12 large-6 columns salon-box">
    <div class="row">
      <h1>stylists</h1>
    </div>
    <div class="row clients">
      <ul class="user-profiles">
        <% @stylists.each do |stylist| %>
        <li>
          <div
          class="large-3 columns left mini-profile"
          style="background:
          linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
          url(<%= stylist.image %>);
          background-size: cover;
          background-position: center;" >
            <b><%= stylist.full_name %></b>
            <%= stylist.username %><br /><br />
            <%= link_to 'profile', user_profile_path(@user.id, stylist.id), class:"button new-salon-button" %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="small-12 large-6 columns salon-box">
    <div class="row">
      <h1>clients</h1>
    </div>
    <div class="row">
      <ul class="user-profiles">
        <% @clients.each do |client| %>
        <li>
          <div
          class="large-3 columns left mini-profile"
          style="background:
          linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
          url(<%= client.image %>);
          background-size: cover;
          background-position: center;" >
            <b><%= client.full_name %></b>
            <%= client.username %><br /><br />
            <%= link_to 'profile', user_profile_path(@user.id, client.id), class:"button new-salon-button" %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
