<div class="row large-centered salon-big-box">
  <div class="small-12 large-6 columns salon-box">
    <div class="row">
      <h1>services</h1>
    </div>
    <div class="row clients">
      <% @services.each do |service| %>
        <div class="row">
          <a href="/salons/<%= @salon.id %>/services/<%= service.id %>">
            <div class="small-3 columns service-info">
              <i class="<%= service.icon %> fa-2x" aria-hidden="true"></i>
            </div>
            <div class="small-9 columns service-info">
              <b><%= service.name %></b><br />
              <%= service.description %><br />
            </div>
          </a>
        </div>
        <hr class="user-info-hr">
      <% end %>
      <%= link_to 'add new service', new_salon_service_path(params[:id]), class:"button new-salon-button" %>
    </div>
  </div>

  <div class="small-12 large-6 columns salon-box">
    <div class="row">
      <h1>stylists</h1>
    </div>
    <div class="row">
      <h3>list of stylists</h3>
    </div>
  </div>
</div>
<div class="row large-centered salon-big-box">
  <div class="small-12 large-6 columns salon-box">
    <div class="row">
      <h1>products</h1>
    </div>
    <div class="row clients">
      <h3>react(products)</h3>
    </div>
  </div>

  <div class="small-12 large-6 columns salon-box">
    <div class="row">
      <h1>clients</h1>
    </div>
    <div class="row">
      <h3>react (clients)</h3>
    </div>
  </div>
</div>
