<div class="row large-centered user-box">
  <div class="small-12 large-6 columns user-noshadow-box">
    <div class="row">
      <h1>services</h1>
    </div>
    <div class="row clients">
      <ul class="user-profiles">
      <% @services.each do |service| %>
      <li>
        <div
        class="large-3 columns left mini-profile" >
          <br />
          <i class="<%= service.icon %> fa-2x" aria-hidden="true"></i><br />
          <%= link_to service.name, salon_service_path(@salon.id, service.id) %><br />
          $<%= service.price %><br /><br />
          <% if @user_services.find_by(id: service.id).nil? %>
            <%= link_to '+',  new_salon_stylistservice_path(@salon.id, service.id), class:"button service-button add" %>
          <% else %>
            <%= link_to 'x',  salon_stylistservice_path(@salon.id, service.id), method: :delete, class:"button service-button" %>
          <% end %>
        </div>
      </li>
      <% end %>
    </ul>
    </div>
  </div>

  <div class="small-12 large-6 columns user-noshadow-box">
    <div class="row">
      <h1>clients</h1>
    </div>
    <div class="row">
      <ul class="user-profiles">
        <% @clients.each do |client| %>
        <li>
          <div
          class="large-3 columns left mini-profile"
          style="background:
          linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
          <% if client.image.url != nil %>
            url(<%= client.image %>);
          <% else %>
            url(<%= client.default_image %>);
          <% end %>
          background-size: cover;
          background-position: center;" >
            <br />
            <% if client.image.url != nil %>
              <%= image_tag client.image.url, class:"mini-round-image" %><br />
            <% else %>
              <%= image_tag client.default_image, class:"mini-round-image" %><br />
            <% end %>
            <br />
            <%= link_to client.full_name, user_profile_path(@user.id, client.id), class:"button mini-profile-button" %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="row large-centered user-box">
  <div class="small-12 large-12 columns user-noshadow-box">
    <div class="row">
      <h1>products</h1>
    </div>
    <div class="row">
      <ul class="user-profiles">
      <% @products.each do |product| %>
      <li>
        <div
        class="large-2 columns left mini-profile" >
          <br />
          <i class="<%= product.icon %> fa-2x" aria-hidden="true"></i><br />
          <%= link_to product.name, salon_product_path(@salon.id, product.id) %><br />
          $<%= product.price %><br /><br />
          <%= product.description %>
        </div>
      </li>
      <% end %>
    </ul>
    </div>
  </div>
</div>
