<div class="row">
  <h1>owner management console</h1>
</div>
  <% @owned_salons.each do |salon| %>
    <div class="row">
      <div class="small-6 columns salon-pic">
        <p>image info here</p>
        <% if salon.open_chair_count != 0 %>
          <hr class="user-info-hr">
          <i class="fa fa-external-link open_chairs" aria-hidden="true"></i> <%= salon.open_chair_count %> chairs available<br /><br />
          <%= link_to 'search for stylists', edit_salon_path(salon.id), class:"button new-salon-button" %>
          <hr class="user-info-hr">
        <% end %>
      </div>
      <a href="/salons/<%= salon.id %>">
        <div class="small-6 columns salon-info">
          <b><%= salon.name %></b><br />
          <%= salon.address %>, <%= salon.city %> <%= salon.state %><br />
          <%= salon.phone %><br />
          <%= salon.email %><br />
          </a>
          <% salon.services.each do |service| %>
            <i class="<%= service.icon %> mini-service-icon" aria-hidden="true"></i>
          <% end %>
          <br /><br />
          <%= link_to 'edit salon', edit_salon_path(salon.id), class:"button new-salon-button" %>
        </div>

    </div>

    <hr class="user-info-hr">
  <% end %>
  <div class="row">
    <%= link_to '+ new location', new_salon_path, class:"button new-salon-button" %>
  </div>
