<div class="row">
  <div class="small-12 large-4 large-centered medium-centered columns user-box">
    <div class="row">
      <h1><%=@product.salon.name %></h1>
    </div>
    <div class="row">
        <div class="small-12 columns user-noshadow-box">
          <h3>
            <i class="<%= @product.icon %> fa-3x" aria-hidden="true"></i>
            <br />
            product:<br />
            <b><%= @product.name %><br /><br /></b>
            description:<br />
            <b><%= @product.description %><br /><br /></b>
          </h3>
        </div>
        <%= link_to "<", url_for(:back), class:"button new-salon-button" %>
    </div>
  </div>
</div>
