<div class="row large-centered user-box">
  <div class="small-12 large-12 columns user-noshadow-box">
    <div class="row">
      <h1><%= @user_profile.full_name %> user profile</h1>
    </div>
    <div class="row">
      <div class="small-12 large-12 columns user-noshadow-box">
        <% if @user_profile.image.url != nil %>
          <%= image_tag @user_profile.image.url, class:"image-actual" %><br />
        <% end %>
        <%= @user_profile.username %><br />
        <%= @user_profile.email %><br /><br />
        <h1>Follows:</h1>
        <% @user_profile.salons.each do |salon| %>
          <%= link_to salon.name, salon_path(salon.id) %><br />
        <% end %>
      </div>
    </div>
  </div>
