<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "mirror" %></title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="custom-bar">
      <div class="title-bar custom-title-bar">
        <div class="title-bar-left widen">
          <!-- <button class="menu-icon custom-menu-icon" type="button"></button> -->
          <% if current_user %>
            <div class="user-info">
              <%= button_to 'sign out', destroy_user_session_path, method: :delete  %>
              <p>Signed in as <%= current_user.email %></a></p>
            </div>
          <% end %>
          <span class="title-bar-title"></span>
        </div>
        <div class="title-bar-right site-logo">
          <%= image_tag('logo.png')%>
        </div>
      </div>
      <% flash.each do |key, value| %>
        <div class="flash-container">
            <%= value %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
