<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "mirror" %></title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="title-bar custom-bar">
      <div class="title-bar-left">
        <button class="menu-icon custom-menu-icon" type="button"></button>
        <span class="title-bar-title"></span>
      </div>
      <div class="title-bar-right site-logo">
        <%= image_tag('logo.png')%>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
